$primary-color: #e98382;
$secondary-color: #eed889;
$third-color: #95e1d3;

$title-color: #333333;
$text-color: #999999;

$gray-color: #f8f8f8;
$gray-dark-color: #cccccc;
$gray-light-color: #f5f5f5;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$third-font: 'Kaushan Script', cursive;

$wrapper: 1920px;
$container: 1200px;