section.about
  .container
    +blockHeader("What we do", "Story about us", "Lorem aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.")
    .about-list
      +aboutItem({
        src: "./images/img-about1.jpg",
        desc: "supper team"
      })
      +aboutItem({
        src: "./images/img-about2.jpg",
        desc: "supper team"
      })
      +aboutItem({
        src: "./images/img-about3.jpg",
        desc: "supper team"
      })