section.blog
  .container
    +blockHeader("Our stories","Latest blog")
    .blog-list 
      +blogItem("./images/img-blog1.png","15","Jan","Lorem ipsum dolor sit amet","Lorem aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet.","651","24")
      +blogItem("./images/img-blog2.png","14","Jan","sed do eiusmod tempor","Lorem aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet.","862","45")
      +blogItem("./images/img-blog3.png","15","Jan","incididunt ut labore et dolore","Lorem aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet.","2099","150")
  .map
    i.far.fa-map-marker-alt.map-icon
    a.map-title(href="googlemap.com") Open Map
