section.service 
  .container
    +blockHeader("We work with", "Amazing services")
    ul.service-list
      ul.service-list_top
        +serviceItem("./images/img-service-icon1.png","photography","Lorem ipsum dolor sit amet, consec tetur adipi scing elit")
        +serviceItem("./images/img-service-icon2.png","web design","Lorem ipsum dolor sit amet, consec tetur adipi scing elit")
        +serviceItem("./images/img-service-icon3.png","creativity","Lorem ipsum dolor sit amet, consec tetur adipi scing elit")
      ul.service-list_bottom
        +serviceItem("./images/img-service-icon4.png","seo","Lorem ipsum dolor sit amet, consec tetur adipi scing elit")
        +serviceItem("./images/img-service-icon5.png","css/html","Lorem ipsum dolor sit amet, consectetur adipiscing elit")
        +serviceItem("./images/img-service-icon6.png","digital","Lorem ipsum dolor sit amet, consec tetur adipi scing elit")