section.team
  .container
    +blockHeader("Who we are","Meet our team","Lorem aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.")
    .team-list
      +teamItem("./images/img-team1.png","Matthew dix","Graphic design")
        +teamSocial("##","###","###","####")
      +teamItem("./images/img-team2.png","Christopher Campbell","Branding/UX design")
        +teamSocial("##","###","###","####")
      +teamItem("./images/img-team3.png","Michael fertic","Deverloper")
        +teamSocial("##","###","###","####")