section.work
  .container
    +blockHeader("What we do","Some of our work","Lorem aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.")
  .work-list
    +workItem("work-item1","./images/img-work1.png")
    +workItem("work-item2","./images/img-work2.png")
    +workItem("work-item3","./images/img-work3.png")
    +workItem("work-item4","./images/img-work4.png")
    +workItem("work-item5","./images/img-work5.png")
    +workItem("work-item6","./images/img-work6.png")
    +workItem("work-item7","./images/img-work7.png")