.design {
  background: linear-gradient(to bottom, rgba($gray-light-color, 0.75)), url("../images/img-device-bg.jpg") no-repeat center/cover;
  padding-top: 9rem;
  &-images {
    margin-bottom: -9.3rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  @include maxWidth(767px) {
    padding-top: 5rem;
  }
}