extends layout/layout

block vars
	-title = 'Cristiano Ronaldo'
	-bodyClass = 'home-page'

block container
	include blocks/about
	include blocks/number
	include blocks/service
	include blocks/design
	include blocks/wedo
	include blocks/quote 
	include blocks/team 
	include blocks/logos 
	include blocks/work 
	include blocks/avatar 
	include blocks/people 
	include blocks/blog 